.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/0.625;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.cover__background::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: 1.5s;
}

.cover__background:hover::before {
  opacity: 0.8;
  transition: 1s ease-in-out;
}